@using EasyTripProject.Models.Entities
@model List<Comments>
@{
    ViewBag.Title = "CommentList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yorumlar</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Kullanıcı</th>
        <th>E-Mail</th>
        <th>Yorum</th>
        <th>Blog</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @{
        foreach (var item in Model)
        {
        <tr>
            <td>@item.CommentId</td>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td>@item.Comment</td>
            <td>@item.Blog.Title</td>
            <td><a href="/Admin/RemoveComment?CommentId=@item.CommentId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/GetComment?CommentId=@item.CommentId" class="btn btn-warning" style="color: white">Güncelle</a></td>
        </tr>
        }
    }

</table>

